* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

a {
    text-decoration: none;
}

.hero {
    padding-top: 7%;
    padding-bottom: 5%;
    background:rgb(248, 208, 208);
}

nav-item .nav-bttn {
    display: inline-block;
}

.text-grey {
    color: rgba(52, 52, 53, 0.61);
}

.Name-head {
    font-size: 84px;
    font-weight: 800;
    letter-spacing: 1px;
}

.hero-img {
    width: 420px;
}
#about{
    background-color: rgb(254, 248, 248);
}

.about-image img {
    padding: 12px 12px 0;
    border-radius: 30px;
    border:6px solid rgb(228, 183, 168);
    width: 350px;
}

.about-head {
    font-size: 44px;
    font-weight: 500;
}

.about-para {
    font-size: 15px;
    font-weight: 600;
    color: rgba(52, 52, 53, 0.61);
    line-height: 28px;
    max-width: 600px;
}
.card:hover{
    transition: .3s;
    transform: scale(1.02);
}

.items span {
    margin: 0 3px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(52, 52, 53, 0.726);
}

.lists {
    list-style: none;
    position: relative;
    padding-left: 25px;
}

.lists::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid red;
    z-index: 1;
}

.lists::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 10px;
    bottom: -26px;
    width: 2px;
    background-color: rgb(191, 189, 189);
    z-index: 0;
}

.lists:last-child::after {
    content: none;
}

.social-links i {
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 30px;
    margin: 0 8px;
    cursor: pointer;
    background-color: rgb(255, 192, 19);
    transition: .2S;
}

.social-links i:hover {
    color: rgb(255, 192, 19);
    background-color: black;
}

.section-head {
    position: relative;
    background-color: red;
    background: linear-gradient(305deg, rgba(247, 192, 7, 1) 35%, rgba(245, 4, 4, 1) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-head::after{
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background-color: red;
}
.section-para{
    color:rgba(52, 52, 53, 0.726);
}
#services{
    background-color: rgb(254, 248, 248);
}
.service-icon{
    width: 50px;
    height: 50px;
    color: red;
    border-radius: 100%;
    border: 2px solid grey;
}
#skill{
    background-color: rgb(254, 248, 248);
}
.skill-h3{
    color: rgba(40, 40, 41, 0.726);
}
.progress-container{
    height: 25px;
    width:90%;
    padding: 2px;
    border-radius: 80px;
    background-color: white;
    border: 2px solid rgb(219,5,5);
    
}
.progress-bar{
    background-color: rgb(219,5,5);
    color: white;
    border-radius: 50px;
}
#projects{
    background-color: rgb(254, 248, 248);
}
#contact input{
    border: 2px solid rgb(192, 191, 191);
}
#contact textarea{
    border: 2px solid rgb(192, 191, 191);

}
.arrow{
    margin:0 20px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45%;background-color: red;
    border-radius: 100%;
}
.footer{
    position: absolute;
    width: 100%;
    align-items: center;
    background-color:rgb(191, 189, 189) ;
}
.footer-text{
    font-size: 13px;
}

@media (width < 767px){
    .about-image img {
        display: none;
    }
    .hero-img {
        width: 350px;
        padding-left: 30px;
    }
    .Name-head {
        font-size: 64px;
    }
}
@media (width < 1000px){
    .hero-img {
        padding-left: 12%;
        width: 620px;
    }
    .about-image img {
        display: none;
    }
}
